/* Ensure the root and body take up 100% of the viewport */
#root, body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block !important; /* Overrides place-items: center */
}

/* Remove any max-width constraints */
#root {
  max-width: 100% !important;
  text-align: left !important;
}